-- STAGE M2: Competitive Context Layer
-- ===================================

CREATE OR REPLACE FUNCTION public.player_get_competitive_stats()
RETURNS TABLE (
  best_teammate_id uuid,
  best_teammate_name text,
  wins_together bigint,
  matches_together bigint,
  winrate_together numeric,
  wins_vs_higher bigint,
  matches_vs_higher bigint,
  winrate_vs_higher numeric
)
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_player_id uuid;
  v_player_cat int;
BEGIN
  -- 1. Identify player from auth.uid()
  SELECT id, NULLIF(category, '')::int
  INTO v_player_id, v_player_cat
  FROM public.players
  WHERE user_id = auth.uid() AND deleted_at IS NULL;

  IF v_player_id IS NULL THEN
    RETURN;
  END IF;

  RETURN QUERY
  WITH
  teammate_stats AS (
    SELECT
      tp.player_id as t_id,
      p.display_name::text as t_name,
      COUNT(*) FILTER (WHERE mp.team = mr.winner_team) as wins,
      COUNT(*) as total,
      ROUND((COUNT(*) FILTER (WHERE mp.team = mr.winner_team)::numeric / NULLIF(COUNT(*), 0)::numeric) * 100, 1) as wr
    FROM public.match_players mp
    JOIN public.match_results mr ON mp.match_id = mr.match_id
    JOIN public.match_players tp
      ON mp.match_id = tp.match_id
     AND mp.team = tp.team
     AND mp.player_id != tp.player_id
    JOIN public.players p ON tp.player_id = p.id
    WHERE mp.player_id = v_player_id
      AND jsonb_typeof(mr.sets) = 'array'
      AND jsonb_array_length(mr.sets) >= 2
    GROUP BY tp.player_id, p.display_name
    HAVING COUNT(*) >= 2
    ORDER BY 3 DESC, 5 DESC, 4 DESC
    LIMIT 1
  ),
  vs_higher_stats AS (
    SELECT
      COUNT(*) FILTER (WHERE mp.team = mr.winner_team) as h_wins,
      COUNT(*) as h_total,
      ROUND((COUNT(*) FILTER (WHERE mp.team = mr.winner_team)::numeric / NULLIF(COUNT(*), 0)::numeric) * 100, 1) as h_wr
    FROM public.match_players mp
    JOIN public.match_results mr ON mp.match_id = mr.match_id
    JOIN (
      SELECT
        mp_inner.match_id,
        mp_inner.team,
        MIN(NULLIF(p_inner.category, '')::int) as min_cat
      FROM public.match_players mp_inner
      JOIN public.players p_inner ON mp_inner.player_id = p_inner.id
      GROUP BY mp_inner.match_id, mp_inner.team
    ) opp ON mp.match_id = opp.match_id AND mp.team != opp.team
    WHERE mp.player_id = v_player_id
      AND v_player_cat IS NOT NULL
      AND opp.min_cat IS NOT NULL
      AND opp.min_cat < v_player_cat
      AND jsonb_typeof(mr.sets) = 'array'
      AND jsonb_array_length(mr.sets) >= 2
  )
  SELECT
    ts.t_id,
    ts.t_name,
    COALESCE(ts.wins, 0),
    COALESCE(ts.total, 0),
    COALESCE(ts.wr, 0),
    COALESCE(vh.h_wins, 0),
    COALESCE(vh.h_total, 0),
    COALESCE(vh.h_wr, 0)
  FROM (SELECT 1) dummy
  LEFT JOIN teammate_stats ts ON true
  LEFT JOIN vs_higher_stats vh ON true;

END;
$$;

GRANT EXECUTE ON FUNCTION public.player_get_competitive_stats() TO authenticated;

-- Refresh PostgREST schema cache
-- NOTIFY pgrst, 'reload schema';
-- (Note: commenting out NOTIFY for local safety if pgrst listener isn't active, but user requested it)
NOTIFY pgrst, 'reload schema';
